<div id="<%= dom_id pet %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Pettable:</strong>
    <%= pet.pettable_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= pet.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Age:</strong>
    <%= pet.age %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Sex:</strong>
    <%= pet.sex %>
  </div>
</div>
