<p>
    We've accepted your booking for <%= list_items(@booking.pets.map { |pet| pet.name }) %> on <%= long_date @booking.start_date %>.
</p>
<p>
    Here are the details of your booking:
</p>
<p>
    <strong>Service type:</strong> <%= @booking.service_type.capitalize %>
</p>
<p>
    <strong>Drop off:</strong> <%= long_date @booking.start_date %>
</p>
<% if @booking.end_date %>
<p>
    <strong>Pick up:</strong> <%= long_date @booking.end_date %>
</p>
<% end %>